repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    # Ruff version.
    rev: 'v0.5.2'
    hooks:
      - id: ruff
  - repo: local
    hooks:
      - id: pytest
        name: pytest-check
        entry: poetry run pytest
        language: system
        pass_filenames: false
        # Runs only on python files
        types: [ python ]
        always_run: true
